.container {
  width: 94%;
  margin-left: 3%;

  display: flex;
}
.images {
  height: 80vh;
  border: 5px solid white;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s linear;
}
img {
  height: 100%;
  border-radius: 5px;
}
.img--1 {
  flex-shrink: 0;
}
